* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.special-button {
  background-color: orange;
}

#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  grid-template-columns: auto 1fr;
}

#root .view-num {
  background-color: #a1a1a1;
  width: 100%;
  padding: 15px 5px;
  direction: rtl;
  color: white;
  font-size: 20px;
}

#root .buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  background-color: #aaa;
}

#root .buttons-container button {
  padding: 15px 0;
  border: none;
}

#root .buttons-container .zero {
  grid-column: 1/3;
}
